.card-content {
    align-items: center;
    justify-content: center;
}

.details {
    font-size: 15px;
    text-decoration: none;

}

.details div {
    margin-left: 320px;
    color: #92817A;
}

.details div:hover {
    color: #0075F2;
    cursor:pointer;
}


