.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
    position: fixed;
    top: 3vh;

}

.nav-background {
    width: 599px;
    height: 49px;
    background-color: #fff;
    border-radius: 143px;
    box-shadow: 0px 2px 15px rgb(0, 0 ,0, 0.1);
    padding-left: 0%;
    padding-right: 0%;
}

.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-left: -16px;
    margin-right: 20px;
    margin-top: 13px;

}

.nav-item a {
    text-decoration: none;
    font-weight: 500;
    color: #92817A;
}

.nav-item.active a {
    font-weight: bold;
    color: #0075F2;
}

.nav-item a:hover{
    font-weight: bold;
    color: #0075F2;
    transition: color ease-in-out;
}
