.container{
    margin-top: 160px;
    width: 1115px;
    margin-bottom: 45px;
    padding-left: 100px;

}

.heading {
    font-weight: bold;
    font-size: 60px;
    padding-bottom: 10px;
}

.subtext {
    font-size: 22px;
}